.carousel-icon-background {
    background-color: rgba(248, 82, 82, 0.404);
    border-radius: 50%;
    padding: 20px;
}

.client-text {
    color: #E76F51;
}

.fa-star {
    color: #E77C40;
}

.profile-name {
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.profile-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.bz-footer{
    background-color: #0B0D17;
}

.footer-link{
    color: white;
}

.copy-right{
    color: white;
}